<div class="modal__title">
    <a onclick="$('#modal').html('');$('#modal').addClass('hidden');$('#modal-overlay').addClass('hidden')"><i class="fa fa-xmark"></i></a>
    <div class="addBlock {{hiddenAdd}}">Ajouter un service</div>
    <div class="updateBlock {{hiddenUpdate}}">Modifier un service</div>
    <a onclick="{{fct}}('{{WEB_PAGES}}')"><i class="fa fa-check"></i></a>
</div>
<div class="modal__content">
    <form id="modal-form">
        <input type="hidden" name="cu" id="cu" value="{{cu}}">
        <input type="hidden" name="id" id="id" value="{{suId}}">
        <input type="hidden" name="users" id="users" value="{{users}}">
        <input type="hidden" name="rubis" id="rubis" value="{{rubis}}">
        <div class="modal__date">
            <label>Date du service</label>
            <input type="text" class="hidden" name="date" id="date" value="{{date}}">
        </div>
        <div class="modal__hours">
            <div class="modal__start-hour">
                Heure de début
                <select name="start-hour" id="start-hour">
                    {% for h in start_hour %}
                        <option value="{{ h.hour }}" {{ h.selected }}>{{ h.hour }}</option>
                    {% endfor %}
                </select>
                <select name="start-minute" id="start-minute">
                    {% for minute in start_minute %}
                        <option value="{{ minute.minute }}" {{ minute.selected }}>{{ minute.minute }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal__end-hour">
                Heure de fin
                <select name="end-hour" id="end-hour">
                    {% for h in end_hour %}
                        <option value="{{ h.hour }}" {{ h.selected }}>{{ h.hour }}</option>
                    {% endfor %}
                </select>
                <select name="end-minute" id="end-minute">
                    {% for minute in end_minute %}
                        <option value="{{ minute.minute }}" {{ minute.selected }}>{{ minute.minute }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="modal__block">
            <div class="modal__user">
                <div class="modal__user-line">
                    <label for="modal__user-label">Texte a afficher</label>
                    <input type="text" name="tph" id="tph" value="{{ tph }}">
                </div>
            </div>
        </div>
        <div class="modal__color">
            <label for="modal__color-label">Couleur du service</label>
            <input id="color" name="color" value="{{color}}" data-jscolor="{}">
        </div>
        <div class="modal__service">
            <label for="modal__service-label">Service</label>
            <select id="service" name="service">
                {% for serv in services %}
                    <option value="{{ serv.id }}" {{serv.selected}}>{{ serv.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="modal__memo">
            <div class="modal__memo-title">Informations complémentaires <i class="fa-circle-info fa" tm-text="Les numéros de téléphone sont automatiquement gérés, nul besoin de séparer les chiffres ou de mettre points ou tirets"></i></div>
            <div class="modal__memo-content">
                <textarea id="memo" name="memo" onkeypress="textAreaAdjust(this)">{{ memo }}</textarea>
            </div>
        </div>
        {% if suId>0%}
            <div class="modal__delete">
                <a onclick="deleteBlock('{{WEB_PAGES}}',{{suId}})"><u>Supprimer le service</u></a>
            </div>
        {% endif%}
    </form>
</div>
