<div class="modal__title">
    <a onclick="$('#modal').html('');$('#modal').addClass('hidden');$('#modal-overlay').addClass('hidden')"><i class="fa fa-xmark"></i></a>
    <div class="addBlock {{hiddenAdd}}">Ajouter un mémo</div>
    <div class="updateBlock {{hiddenUpdate}}">Modifier un mémo</div>
    <a onclick="{{fct}}('{{WEB_PAGES}}')"><i class="fa fa-check"></i></a>
</div>
<div class="modal__content">
    <form id="modal-form">
        <input type="hidden" name="id" id="id" value="{{memoId}}">
        <div class="modal__date">
            <label>Date de début du mémo</label>
            <input type="text" class="hidden" name="start-date" id="start-date" value="{{start-date}}">
        </div>
        <div class="modal__hours">
            <div class="modal__start-hour">
                Heure de début
                <select name="start-hour" id="start-hour">
                    {% for h in start_hour %}
                        <option value="{{ h.hour }}" {{ h.selected }}>{{ h.hour }}</option>
                    {% endfor %}
                </select>
                <select name="start-minute" id="start-minute">
                    {% for minute in start_minute %}
                        <option value="{{ minute.minute }}" {{ minute.selected }}>{{ minute.minute }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="modal__date">
            <label>Date de fin du mémo</label>
            <input type="text" class="hidden" name="end-date" id="end-date" value="{{end-date}}">
        </div>
        <div class="modal__hours">
            <div class="modal__end-hour">
                Heure de fin
                <select name="end-hour" id="end-hour">
                    {% for h in end_hour %}
                        <option value="{{ h.hour }}" {{ h.selected }}>{{ h.hour }}</option>
                    {% endfor %}
                </select>
                <select name="end-minute" id="end-minute">
                    {% for minute in end_minute %}
                        <option value="{{ minute.minute }}" {{ minute.selected }}>{{ minute.minute }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="modal__permanent">
            <input name="permanent" id="permanent" type="checkbox" {{ permanent_selected }} value="1">Affichage permanent (ignore les dates et heures)</input>
            <!--<input name="alarm" id="alarm" type="checkbox" {{ alarm_selected }} value="1">Alerte sonore au début de la période (ignore les permanent)</input>!-->
        </div>
        <div class="modal__memo">
            <div class="modal__memo-title">Texte des mémos</div>
            <div class="modal__memo-content">
                <textarea id="memo" name="memo" onkeypress="textAreaAdjust(this)">{{ memo }}</textarea>
            </div>
        </div>
        {% if memoId>0%}
            <div class="modal__delete">
                <a onclick="deleteMemo('{{WEB_PAGES}}',{{memoId}})"><u>Supprimer le mémo</u></a>
            </div>
        {% endif%}
    </form>
</div>
