<!DOCTYPE html>
<html lang="fr">
    <div id="permanences">
        <div class="memos__blk">
            <div class="memos__title glass">Mémos <a onclick="showAddMemo()"><i class="fa fa-circle-plus"></i></a></div>
            <div class="memos__content">
                {% set alarm=0 %}
                {% for item in memos_tbl %}
                    <a class="memo_element" ondblclick="showUpdateMemo({{ item.id }})">
                        <div class="memo_element__top">
                            <div class="memo_element__top-left">
                                {% if item.permanent == 0 %}
                                    {{ item.date_debut|date('d-m-Y') }} à {{ item.debut }} <br />
                                    {{ item.date_fin|date('d-m-Y') }} à {{ item.fin }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="memo_element__bottom">{{ item.memo }}</div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="sites__blk">
            <div class="sites__title glass">Sites Web</div>
            <div class="sites__content">
                {% for item in sites_tbl %}
                    <a class="sites__element glass" style="background-color: {{ item.color }};" href="{{item.url}}" >{{ item.nom }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="permanences__blk">
            <div class="permanences__title glass">Permanences</div>
            <div class="permanences__content">
                {% for item in permanences_tbl %}
                    <div class="perm_element">
                        <div class="perm_element__left">{{ item.poste }}</div>
                        <div class="perm_element__right">
                            <div class="perm_element__right-top">{{ item.nom }}</div>
                            <div class="perm_element__right-bottom">{{ item.tph }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="modal-overlay" class="hidden"></div>
    <div id="modal" class="modal__window hidden"></div>
    <script type="text/javascript">
        /*function setupAutoRefresh() {
            const REFRESH_INTERVAL = 600000; // 1000 secondes
            let timeoutId;

            function refresh() {
                window.location.reload();
            }

            function resetTimer() {
                if (timeoutId) clearTimeout(timeoutId);
                timeoutId = setTimeout(refresh, REFRESH_INTERVAL);
            }

            // Démarrer le timer
            resetTimer();

            // Réinitialiser le timer lors des interactions utilisateur
            ['click', 'touchstart', 'mousemove'].forEach(event => {
                document.addEventListener(event, resetTimer);
            });
        }

        // Initialisation
        document.addEventListener('DOMContentLoaded', () => {
            setupAutoRefresh();
        });*/
    </script>
</body>
</html>
