<div class="block" id="configuration">
    <div class="block__title glass">
        <div class="block__title-left">
            Gestion des variables de configuration
            <a onclick="table.addRow([],'start')">
                <i class="fa fa-circle-plus"></i>
            </a>
        </div>
    </div>

    <div class="block__content flex-h">
        <div class="block__buttons">

        </div>
        <table id="configurationTbl">
            <thead>
                <tr>
                    <th id="id" th-hide>Id</th>
                    <th id="slug" th-hide>identifiant_logique</th>
                    <th id="php_file" th-choice th-sort th-filter tf-tooltip="Nom et chemin du fichier php en fonction de public/pages">Fichier php</th>
                    <th id="pages_twig_header" th-choice >Twig Header </th>
                    <th id="pages_twig_content" th-choice >Twig Content</th>
                    <th id="pages_twig_footer" th-choice >Twig Footer</th>
                    <th id="pages_js_header" th-choice >Js Header</th>
                    <th id="pages_js_footer" th-choice >Js Footer</th>
                    <th id="pages_css" th-choice >Css</th>
                    <th id="pages_font" th-choice >Polices de caractères</th>
                    <th  th-actions="delete,save">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for p in pages_tbl %}
                    <tr id="{{r.id}}" name="{{ r.id }}">
                        <td id="id_{{ p.id }}" name="id_{{ p.id }}">{{ p.id }}</td>
                        <td id="slug_{{ p.id }}" name="slug_{{ p.id }}">{{ p.slug }}</td>
                        <td id="php_file_{{ p.id }}" name="php_file_{{ p.id }}">{{ p.php_file }}</td>
                        <td id="pages_twig_header_{{ p.id }}" name="pages_twig_header_{{ p.id }}">{{ p.pages_twig_header }}</td>
                        <td id="pages_twig_content_{{ p.id }}" name="pages_twig_content_{{ p.id }}">{{ p.pages_twig_content }}</td>
                        <td id="pages_twig_footer_{{ p.id }}" name="pages_twig_footer_{{ p.id }}">{{ p.pages_twig_footer }}</td>
                        <td id="pages_js_header_{{ p.id }}" name="pages_js_header_{{ p.id }}">{{ p.pages_js_header }}</td>
                        <td id="pages_js_footer_{{ p.id }}" name="pages_js_footer_{{ p.id }}">{{ p.pages_js_footer }}</td>
                        <td id="pages_css_{{ p.id }}" name="pages_css_{{ p.id }}">{{ p.pages_css }}</td>
                        <td id="pages_font_{{ p.id }}" name="pages_font_{{ p.id }}">{{ p.pages_font }}</td>
                        <td id="actions_{{ p.id }}" name="actions_{{ p.id }}"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script type="module">
    import TableFlow from './{{ WEB_ASSETS }}/libs/tableFlow/src/tableFlow.js';

    window.table = new TableFlow({
        tableId: 'configurationTbl',
        debug: true,
        plugins: {
            names: ['Edit', 'Sort', 'Actions', 'Choice', 'Hide'],
            choice: {
                columns: {
                    pages_twig_header:{
                        type: 'multiple',
                        values:[
                            {% for p in pages_twig_header_tbl %}
                                { value: {{ p.id }}, label: {{ p.name }}}
                            {% endfor %}
                        ]
                    },
                    searchable: {
                        enabled: true,
                        placeholder: 'Rechercher ou ajouter une permission...'
                    },
                    multiple: {
                        allowCustomValues: true,
                        separator: ',',
                        maxTags: 10
                    }
                }
            },
            actions: {
                actionAttribute: 'th-actions',
                cellClass: 'td-actions',
                useIcons: true,
                debug: true,
                autoSave: false,
                actions: {
                    delete: {
                        handler: function(context) {
                            const url = "/main/actions.php";
                            actionRow(url, context.data, "sites", "delete").then(result => {
                                if (result) {
                                    successNotice('Ligne supprimée avec succès');
                                    context.tableHandler.removeRow(context.row);
                                } else {
                                    errorNotice('Erreur lors de la suppression de la ligne');
                                }
                            }).catch(error => {
                                errorNotice('Erreur lors de la suppression de la ligne');
                                console.error('Error:', error);
                            });
                        },
                        icon: '<button class="btn btn-glass btn-glass-red" tf-tooltip="Supprimer la ligne"><i class="fa fa-trash"></i></button>',
                        isDisabled: (data, row) => {
                            return data.super_admin === 1 || data.super_admin === '1';
                        }
                    },
                    save: {
                        handler: function(context) {
                            const url = "/main/actions.php";
                            const data = {
                                ...context.data,
                                table: 'configurationTbl',
                                action: 'addUpdate'
                            };
                            actionRow(url, data, "configuration", "addUpdate").then(result => {
                                if (result) {
                                    successNotice('Ligne mise à jour avec succès');
                                    context.tableHandler.markRowAsSaved(context.row, 'save');
                                } else {
                                    errorNotice('Erreur lors de la mise à jour de la ligne');
                                }
                            }).catch(error => {
                                errorNotice('Erreur lors de la mise à jour de la ligne');
                                console.error('Error:', error);
                            });
                        },
                        icon: '<button class="btn btn-glass btn-glass-green" tf-tooltip="Enregister les modifications"><i class="fa fa-save"></i></button>',
                        isDisabled: (data, row) => {
                            return data.super_admin === 1 || data.super_admin === '1';
                        }
                    }
                }
            }
        },
        pluginsPath: '../plugins'
    });
</script>