<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="csrf-token" content="{{ csrf_token }}" />
        <script>
            window.WEB_PAGES = "{{ WEB_PAGES }}";
            window.WEB_ASSETS = "{{ WEB_ASSETS }}";
            window.WEB_PUBLIC = "{{ WEB_PUBLIC }}";
        </script>
        <link rel="shortcut icon" type="image/x-icon" href="{{ WEB_ASSETS }}/img/index/{{ SHORTCUT_ICON }}" />
        <title>{{ SITE_FIRST_MAJ }} v{{ app.version }}</title>
        <link rel="stylesheet" href="{{ WEB_ASSETS }}/css/index/index.css" />
        {# Chargement du template header si disponible #}
        {% if page_templates_processed.header is defined and page_templates_processed.header|length > 0 %}
            {% for template in page_templates_processed.header %}
                {% if template.enabled %}
                    {{ template.content|raw }}
                {% endif %}
            {% endfor %}
        {% endif %}
    </head>

    <body>
        {# Chargement du template banner si disponible #}
        {% if page_templates_processed.banner is defined and page_templates_processed.banner|length > 0 %}
            {% for template in page_templates_processed.banner %}
                {% if template.enabled %}
                    {{ template.content|raw }}
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="field">
            {# Chargement du template sidebar-left si disponible #}
            {% if page_templates_processed['sidebar-left'] is defined and page_templates_processed['sidebar-left']|length > 0 %}
                {% for template in page_templates_processed['sidebar-left'] %}
                    {% if template.enabled %}
                        {{ template.content|raw }}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {# Chargement du template content si disponible #}
            {% if page_templates_processed.content is defined and page_templates_processed.content|length > 0 %}
                {% for template in page_templates_processed.content %}
                    {% if template.enabled %}
                        {{ template.content|raw }}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {# Chargement du template sidebar-right si disponible #}
            {% if page_templates_processed['sidebar-right'] is defined and page_templates_processed['sidebar-right']|length > 0 %}
                {% for template in page_templates_processed['sidebar-right'] %}
                    {% if template.enabled %}
                        {{ template.content|raw }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

        {# Chargement du template footer si disponible #}
        {% if page_templates_processed.footer is defined and page_templates_processed.footer|length > 0 %}
            {% for template in page_templates_processed.footer %}
                {% if template.enabled %}
                    {{ template.content|raw }}
                {% endif %}
            {% endfor %}
        {% endif %}
    </body>
</html>