<div class="block" id="cie">
    <div class="block__title glass">
        <div class="block__title-left">
            Compagnies
        </div>
    </div>
    <div class="block__content">
        <table id="ciesTbl">
            <thead>
                <tr>
                    <th id="id" th-hide>Id</th>
                    <th id="name" th-sort><span>Nom de la compagnie</span></th>
                    <th id="cu"><span>Code unité</span></th>
                    <th id="ordre" th-sort th-edit th-validate='{"number": {"min": 0, "max": 100, "integer": true}}'><span>Ordre d'affichage</span></th>
                    <th id="color" th-color ><span>Couleur</span></th>
                    <th id="actions" th-actions="save"><span>Actions</span></th>
                </tr>
            </thead>
            <tbody>
                {% for cie in cies_tbl %}
                    <tr id="{{ cie.id }}" name="{{ cie.id }}">
                        <td id="id_{{ cie.id }}" name="id_{{ cie.id }}">{{ cie.id }}</td>
                        <td id="name_{{ cie.id }}" name="name_{{ cie.id }}">{{ cie.newName }}</td>
                        <td id="cu_{{ cie.id }}" cu="cu_{{ cie.id }}">{{ cie.cu }}</td>
                        <td id="ordre_{{ cie.id }}" name="ordre_{{ cie.id }}" >{{ cie.ordre }}</td>
                        <td id="color_{{ cie.id }}" name="color_{{ cie.id }}" >{{ cie.color }}</td>
                        <td id="actions_{{ cie.id }}" name="actions_{{ cie.id }}" ></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const table = new TableFlow({
            tableId: 'ciesTbl',
            debug: false,
            plugins: {
                names: ['Edit', 'Hide', 'Color', 'Sort', 'Actions'],
                color: {
                    colorAttribute: 'th-color',
                    customClass: 'glass'
                },
                sort: {
                    sortableAttribute: 'th-sort',
                    showIcons: false,
                },
                actions: {
                    actionAttribute: 'th-actions',
                    cellClass: 'td-actions',
                    useIcons: true,
                    debug: true,
                    actions: {
                        save: function(context) {
                            const url = "{{ WEB_PAGES }}/main/actions.php";
                            actionRow(url, context.data, "compagnies", "addUpdate").then(result => {
                                if (result) {
                                    successNotice('Ligne mise à jour avec succès');
                                    context.tableHandler.markRowAsSaved(context.row);
                                } else {
                                    errorNotice('Erreur lors de la mise à jour de la ligne');
                                    // Ne pas marquer comme sauvegardé en cas d'erreur
                                }
                            }).catch(error => {
                                errorNotice('Erreur lors de la mise à jour de la ligne');
                                console.error('Error:', error);
                            });
                        }
                    },
                    icons: {
                        save: '<button class="btn btn-glass btn-glass-green" tf-tooltip="Enregister les modifications"><i class="fa fa-save"></i></button>'
                    },
                    showOnChange: ["save"]

                }
            },
            pluginsPath: '{{ WEB_ASSETS }}/libs/tableFlow/plugins'
        });
    });
</script>