<div id="main">
  <div class="title">
    <div class="banner-content">
      <h1>{{ SITE_LONG_NAME }}</h1>
      <div class="subtitle">{{ SUBTITLE|raw }}</div>
    </div>
    <div class="title-icon">
      <img src="{{ WEB_ASSETS }}/img/index/bused.png" alt="Logo"/>
    </div>
  </div>
  <div class="field">
    <div class="menu">
      <div class="menu__block glass">
        <a href="index.php?page={{ PAGE_ACCUEIL }}&subpage={{ SUBPAGE_IMPORT }}" id="import" class="menu__elt">Imports et mises à jour</a>
    <!--     <a href="index.php?page={{ PAGE_ACCUEIL }}&subpage={{ SUBPAGE_UPDATE }}" id="update" class="menu__elt">Gestion des versions</a> -->
        <a href="index.php?page={{ PAGE_ACCUEIL }}&subpage={{ SUBPAGE_SITES }}" id="sites" class="menu__elt">Gestion des sites web</a>
        <a href="index.php?page={{ PAGE_ACCUEIL }}&subpage={{ SUBPAGE_SERVICES }}" id="services" class="menu__elt">Gestion des types de services</a>
        <a href="index.php?page={{ PAGE_ACCUEIL }}&subpage={{ SUBPAGE_UNITES_LDAP }}" id="unites" class="menu__elt">Gestion des unités LDAP</a>
        <a href="index.php?page={{ PAGE_ACCUEIL }}&subpage={{ SUBPAGE_UNITES_MANUELLES }}" id="unites" class="menu__elt">Gestion des unités manuelles</a>
        <a href="index.php?page={{ PAGE_ACCUEIL }}&subpage={{ SUBPAGE_CIES }}" id="cie" class="menu__elt">Gestion des compagnies</a>
        <a href="index.php?page={{ PAGE_ACCUEIL }}&subpage={{ SUBPAGE_CITIES }}" id="cities" class="menu__elt">Gestion des communes</a>
        <a href="index.php?page={{ PAGE_ACCUEIL }}&subpage={{ SUBPAGE_MAIRIES }}" id="cities" class="menu__elt">Gestion des mairies</a>
        <a href="index.php?page={{ PAGE_ACCUEIL }}&subpage={{ SUBPAGE_CATEGORIES }}" id="categories" class="menu__elt">Catégories d'évènements</a>
        <a href="index.php?page={{ PAGE_ACCUEIL }}&subpage={{ SUBPAGE_PREPARE_SYNTHESE }}" id="synthese" class="menu__elt">Synthèse des Evenements</a>
        <a href="index.php?page={{ PAGE_ACCUEIL }}&subpage={{ SUBPAGE_CONFIGURATION }}" id="configuration" class="menu__elt">Gestion des variables de configuration</a>
       <!-- <a href="index.php?page={{ PAGE_ACCUEIL }}&subpage={{ SUBPAGE_SYNTHESE }}" id="synthese" class="menu__elt">Gestion de la synthèse</a> -->
        <!--        <a href="index.php?page={{ PAGE_ACCUEIL }}&subpage={{ SUBPAGE_RIGHTS }}" id="rights" class="menu__elt">Gestion des droits</a> -->
      </div>
    </div>
    <div class="content">
      {% include SUBPAGE %}
    </div>
  </div>
</div>
